@tailwind base;
@tailwind components;
@tailwind utilities;

#activity{
    position: absolute; 
    top:150px; 
    left:20%; 
    transform: translate(-50%,-50%);
    font-family:cursive;
    font-style: italic;
    font-weight:600;
    font-size: 60px;
    color: rgb(8, 73, 16);
}
hr{
    height: 2px;
    background-color: rgb(64, 65, 66);

}
#actimg{
    height: 450px;
}
#disimg{
     border-radius:65px;
}
#head{
    position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}